<%- include('partials/header'); -%>
        <!-- Content -->
        <header>  </header>

        <main style="color: green;">  

           <% book.forEach(item =>{ %>

            <h1> <%= item.title %> </h1>

           <% }) %>
        </main>
<%- include('partials/footer'); -%>


