<%- include('partials/header'); -%>

        <!-- Content -->
        <header>  </header>

        <main>  
           <h1>
                Welcome Home  <%= name %>, your age is <%= age%>
                

           </h1>
        </main>
<%- include('partials/footer'); -%>
